@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Strait');
:root {
	--color1: #000000;
	--color2: #0c0c0c;
	--color3: #171717;
	--color4: #232323;
	--color5: #271745;
	--color6: #301d57;
	--color7: #3a2368;
	--color8: #43287a;
	--color9: #4d2d8c;
	--color10: #56329e;
	--color11: #6038b0;
  }	
body{
	background-color: var(--color1);
	font-family: "Orbitron";	
	overflow: auto;
	z-index: 10;
}
canvas{
	z-index: -1;
	position:fixed;
	top:0;
}
ul{
	-webkit-box-shadow: 0px -57px 300px -11px rgba(0,0,0,1);
	-moz-box-shadow: 0px -57px 300px -11px rgba(0,0,0,1);
	box-shadow: 0px -57px 300px -11px rgba(0,0,0,1);
	z-index: 11;
	border-collapse: collapse;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: auto;
    background-color: var(--color4);	
    position: sticky;
    top:0;
    width: 100%;  
}
li{
	color: #FFFFFF;
	text-shadow: 0 0 4px #FFFFFF;
	color: #FFFFFF;
	background-color:var(--color4);
	float:left;
	display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 3px 10%;
    text-decoration: none;
}
li a:hover {
	color:white;
    text-decoration: none;
}
.active{
	background-color: var(--color9);
}
li:hover{
	background-color: var(--color8);
}
.logo{
	height: 14px;
}
.banner{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.cbody{
	opacity:0.9;
	padding-top: 2%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	font-family: "Strait", sans-serif;
	background-color: #272727;
	border-right: solid 2px;
	border-left: solid 2px;
	border-color:var(--color8);
	color: white;
	margin-left:10%;
	margin-right: 10%;
	text-align: justify; 
}
.formulario{
	text-align: right;
}
.cat-dcha{
width: 124px;
height: 124px;
object-fit: cover;
float: left;
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-right: solid 2px var(--color8);
}
.cat-izq{
width: 124px;
height: 124px;
object-fit: cover;
float: right;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-left: solid 2px var(--color8);

}
.cat{
width: 100%;
background-color: #232323; 
border:solid 2px;
border-color:var(--color8);
overflow: auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
transition: width 1s;
}
.cat-text-izq{
	padding:3%;
	padding-right:15%; 
	text-align: right;
}
.cat-text-dch{
	padding:2.6%;
	padding-left:15%;
	text-align: left; 
}
h5{
	font-weight: bold;
}
.cat:hover{
	width: 101%;
	text-shadow: 0 0 4px #FFFFFF;
}
