:root {
	--color1: #000000;
	--color2: #0c0c0c;
	--color3: #171717;
	--color4: #232323;
	--color5: #271745;
	--color6: #301d57;
	--color7: #3a2368;
	--color8: #43287a;
	--color9: #4d2d8c;
	--color10: #56329e;
	--color11: #6038b0;

  }
  
body{
	background-color: var(--color3);
	font-family: "Arial ";	
	overflow: auto;


}

ul{
	z-index: 11;
	border-collapse: collapse;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: auto;
    background-color: var(--color4);	
    position: sticky;
    top:0;
    width: 100%;
}
li{
	background-color:var(--color4);
	float:left;
	display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 3px 20%;
    text-decoration: none;
}
.active{
	background-color: var(--color9);
}
li:hover{
	background-color: var(--color8);
}
.logo{
	height: 14px;
}
.img-pral{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.cbody{
	padding-top: 0.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	font-family: "Arial";
	background-color: #272727;
	border-right: solid 2px;
	border-left: solid 2px;
	border-color:var(--color8);
	color: white;
	margin-left:10%;
	margin-right: 10%;
	text-align: justify; 
}